:root {
    --heading-background-color: #FFED00;
    --heading-text-color: rgb(108, 229, 232);
    --heading-font: "Rowdies";
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

p, label, input, button, textarea {
    font-family: "Open Sans", sans-serif;
}

label, .subtitle, #p2 {
    font-weight: bold;
}

a, p a{
    text-decoration: none;
    color:#F0F0C9;
}

img {
    width: 100px;
    height: auto;
    border: 2px solid #00000093;
    border-radius: 6px; 
}

header {
    border: 2px solid #000000;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    background-color:#bbc6ca;
}

.navegation {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

#index:hover, #about:hover, #contact:hover, #trip:hover {
    background: black;
    color: white;
}

.navegation a {
    display: block;
    font-size: 25px;
    font-family: "Rowdies", sans-serif;
    color: #000000;
    padding: 10px;
    border: 2px;
    border-radius: 6px;
}

body {
    background-color: #19647E;
    color: #F0F0C9;
    width: 960px;
    place-self: center;
}

section {
    clear:both;
}

.logo img {
    width: 150px;
    height: auto;
    border: 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
    border: 10px;
}

#id {
    width: 90%;
}

.hero h1 {
    align-self: flex-start;
    font-size: 50px;
    font-family: "Rowdies", sans-serif;
    position: absolute;
    color:#F0F0C9;
    border-bottom: 3px solid #F0F0C9;
}

.hero img, .overhero img{
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    float: right;
}

.hero article {
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color: #000000cc;
    width: 60%;
    height: auto;
    padding: 15px;
    margin: 10px;
    border: 2px solid #00000093;
    border-radius: 6px;
}

#p1 {
    order: -1;
}

#clientImage {
    float: right;
    max-width:15%;
    height: auto;
}

h1 {
    text-align: left;
    font-family: "Rowdies", sans-serif;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-family: "Rowdies", sans-serif;
    font-size: 30px;}

.history {
    display: grid;
    grid-template: 1fr 1px / 1fr 300px 1fr;
    gap: 50px;
}

#history, #adventure, #book {
    padding: 15px;
    margin: 10px;
    border: 10px;
    border-radius: 6px;
    background-color: #00000033;
}

#h {
    grid-column: 1/4;
}

#h2 {
    grid-column: 1/6;
}

#cabinImage {
    width: 100%;
    height: auto;
}

.awaits {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

.awaits img {
    width: 100%;
    height: auto;
}

.sociallinks img { 
    width: 30px;
    height: auto;
    border: 1px;
    padding: 5px;
    margin: 3px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 150px 00px;
    padding: 10px;
    margin-top: 15px;
    border-top: 1px solid #F0F0C9;
}

.p2 {
    text-align: left;
}

/* Contact section */

#mh, #employees {
    background-color: #00000033;
    padding: 15px;
    margin: 10px;
    border: 10px;
    border-radius: 6px;
}

hr {
    border: 0;
    border-top: 3px solid #0000002c;
    width: 90%;
}

#contactsection {
    display: grid;
    grid-template: 1fr / 3fr 2fr;
    gap: 6px;
    padding: 10px;
    border: 2px;
}

#leadinfo, #contactinfo {
    background-color:#00000077;
    border: 2px solid #00000093;
    border-radius: 6px;
    padding: 15px;
}

#compinfo {
    display: grid;
    grid-template-columns: 1fr;
}

.infobox {
    display: flex;
}

.infobox img{
    width: 4%;
    height: auto;
    border: 0;
    padding: 9px;
    padding-left: 0; 
    padding-right: 3px;
    margin: 9px;
    margin-left: 0;
    margin-right: 3px;
}

iframe {
    width: 90%;
    height:250px;
    border-radius: 6px;
}

#iframe {
    display:flex;
    justify-content: center;
}

#sociallinks {
    display: flex;
}

#sociallinks img{
    width: 20px;
    height: auto;
    padding: 3px;
    border: 10px;
}

#emploimg {
    display: flex;
    justify-content: space-around;
}

#emploimg img {
    width: 90%;
    height: auto;
}

#namemail {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#topic {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr; 
}

input[type="text"], input[type="email"] {
    width: 70%;
    height: calc(0.6 * (4vh + 1vw));
}

textarea {
    width: 100%;
}

#leadinput {
    display: grid;
    grid-template-columns: 1fr;
}

#checkbox {
    padding: 10px;
}

#button {
    display: flex;
    justify-content: right;
    padding: 15px;
}

button[type="submit"] {
    background-color: #00000093;
    color: #F0F0C9;
    width: 25%;
    border-radius: 6px;
    font-weight: bold;
    font-family: "Rowdies", sans-serif;
    cursor: pointer;
}

#button2 {
    display: flex;
    justify-content: left;
    padding: 15px;    
    color: #F0F0C9;
    width: 40%;
    border-radius: 6px;
    font-weight: bold;
}

#p2 {
    font-size: 50px;
    place-self: center;
    font-family: "Rowdies", sans-serif;
}

.overhero {
    position: absolute;
    display: block;
    background-color: #000000cc;
    width: 60%;
    height: auto;
    padding: 15px;
    margin: 10px;
    border: 2px solid #00000093;
    border-radius: 6px;
}

#textlink {
    display: block;
    place-self: center;
    text-align: center;
    padding: 15px;
    background-color: #00000093;
    font-family: "Rowdies", sans-serif;
    border-radius: 6px;
}

#textlink:hover, #submit:hover, button:hover {
    background-color: white;
    color: black;
}

.intext, #paragraph {
    background-color: #00000033;
    width: 90%;
    height: auto;
    padding: 15px;
    margin: 10px;
    border: 10px;
    border-radius: 6px;
    place-self: center;
}

#purpose {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    background-color: #00000033;
    gap: 1rem;
    width: 90%;
    height: auto;
    padding: 15px;
    margin: 10px;
    border: 10px;
    border-radius: 6px;
    place-self: center;
}

#phome {
    grid-column: 1/3;
}

#purpose img {
    width: 100%;
    height: auto;
}

table {
    overflow: scroll;
    width: 100%;
    height: fit-content;
    display: block;
    overflow-y: hidden;
    border-spacing: 10px;
    margin: 0 auto;
}

tbody {
    white-space: nowrap;
}

table img{
    width: 450px;
    height: auto;
}

td {
    padding: 5px 10px;
    width: 100%;
    border-top-width: 0;
    border-left-width: 0;
}

figcaption {
    place-self: center;
    padding: 5px;
    font-family: "Rowdies", sans-serif;
}

.autolinebreak {
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: -webkit-pre-wrap;
    white-space: normal;
}