:root {
    --heading-background-color: #FFED00;
    --heading-text-color: rgb(108, 229, 232);
    --heading-font: "Rowdies";
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

p, label, input, button, textarea {
    font-family: "Open Sans", sans-serif;
}

label, .subtitle {
    font-weight: bold;
}

a, p a{
    text-decoration: none;
    color:#F0F0C9;
}

img {
    width: 100px;
    height: auto;
    border: 2px solid #00000093;
    border-radius: 6px; 
}

header {
    margin: 1rem auto;
    border: 2px solid #000000;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    background-color:#F0F0C9;
}

.navegation {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.navegation a {
    display: block;
    font-size: 25px;
    font-family: "Rowdies", sans-serif;
    color: #000000;
    background-color: #4a6e1573;
    padding: 20px;
    border: 2px solid #00000093;
    border-radius: 6px;
    width: 150px;
}

body {
    background-color: #19647E;
    color: #F0F0C9;
}

section {
    clear:both;
}

.logo img {
    width: 150px;
    height: auto;
    border: 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
    border: 10px;
}

.hero h1 {
    align-self: flex-start;
    font-size: 50px;
    font-family: "Rowdies", sans-serif;
    position: absolute;
    color:#F0F0C9;
    border-bottom: 3px solid #F0F0C9;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    float: right;
}

.hero article {
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color: #000000cc;
    width: 90%;
    height: auto;
    padding: 15px;
    margin: 10px;
    border: 2px solid #00000093;
    border-radius: 6px;
}

#p1 {
    order:-1;
}

#clientImage {
    float: right;
    max-width:250px;
    height: auto;
}

h1 {
    text-align: left;
    font-family: "Rowdies", sans-serif;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-family: "Rowdies", sans-serif;
    font-size: 30px;}

.history {
    background-color: #00000033;
    display: grid;
    grid-template: 30px 1fr 1px / 1fr 300px 1fr;
    gap: 50px;
    padding: 15px;
    margin: 10px;
    border: 10px;
    border-radius: 6px;
}

#h {
    grid-column: 1/4;
}

#h2 {
    grid-column: 1/6;
}

#cabinImage {
    width: 100%;
    height: auto;
}

.awaits {
    background-color: #00000033;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 60px 1fr;
    gap: 20px;
    padding: 15px;
    margin: 10px;
    border: 10px;
    border-radius: 6px;
}

.awaits img {
    width: 100%;
    height: auto;
}

.sociallinks img { 
    width: 30px;
    height: auto;
    border: 1px;
    padding: 5px;
    margin: 3px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 150px 00px;
    padding: 10px;
    margin-top: 15px;
    border-top: 1px solid #F0F0C9;
}

.p2 {
    place-self: center;
}

/* Contact section */

#mh, #employees {
    background-color: #00000033;
    padding: 15px;
    margin: 10px;
    border: 10px;
    border-radius: 6px;
}

hr {
    border: 0;
    border-top: 3px solid #0000002c;
    width: 90%;
}

#contactsection {
    display: grid;
    grid-template: 1fr / 3fr 2fr;
    gap: 6px;
    padding: 10px;
    border: 2px;
}

#leadinfo, #contactinfo {
    background-color:#00000077;
    border: 2px solid #00000093;
    border-radius: 6px;
    padding: 15px;
}

#compinfo {
    display: grid;
    grid-template-columns: 1fr;
}

.infobox {
    display: flex;
}

.infobox img{
    width: 4%;
    height: auto;
    border: 0;
    padding: 9px;
    padding-left: 0; 
    padding-right: 3px;
    margin: 9px;
    margin-left: 0;
    margin-right: 3px;
}

iframe {
    width: 90%;
    height:250px;
    border-radius: 6px;
}

#iframe {
    display:flex;
    justify-content: center;
}

#sociallinks {
    display: flex;
}

#sociallinks img{
    width: 20px;
    height: auto;
    padding: 3px;
    border: 10px;
}

#emploimg {
    display: flex;
    justify-content: space-around;
}

#emploimg img {
    width: 90%;
    height: auto;
}

#namemail {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#topic {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr; 
}

input[type="text"], input[type="email"] {
    width: 70%;
    height: calc(0.6 * (4vh + 1vw));
}

textarea {
    width: 100%;
}

#leadinput {
    display: grid;
    grid-template-columns: 1fr;
}

#checkbox {
    padding: 10px;
}

#button {
    display: flex;
    justify-content: right;
    padding: 5px;
}

button[type="submit"] {
    background-color: #4a6e1583;
    color: #F0F0C9;
    width: 25%;
    border-radius: 6px;
    font-weight: bold;
}